body{
    font-family: Arial,sans-serif;

}
header, 
footer{
    background-color: rgb(30, 89, 89); 
    color: antiquewhite;
    text-align: center;
    padding: 15px;
}
main{
    padding: 20px;
    text-align: center;
}
body{
    color: brown;
    text-align: center;
    padding: 30px;
}
